main {
    background-color: rgb(33, 120, 61);
}
main {
    background-color: rgb(74, 194, 231);
}

footer{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: rgb(54, 240, 213);
}

p{
    color: beige;
}